<po-widget
  class="po-sm-12 po-md-4 po-lg-4 po-mt-1"
  [p-height]="widgetHeight"
  p-title="{{ parent.name }}"
  p-primary-label="Editar"
  p-secondary-label="Apagar"
  (p-primary-action)="editeParent()"
  (p-secondary-action)="deleteParent()"
>
  <po-loading-overlay
    [p-screen-lock]="true"
    [hidden]="!isLoading"
    p-text="Carregando"
  >
  </po-loading-overlay>
  <div *ngIf="isMobile; else isDesktop">
    <div class="po-row">
      <po-avatar
        class="po-sm-9 po-offset-sm-3"
        p-size="xl"
        [p-src]="urlPicture"
        (p-click)="openForm()"
      >
      </po-avatar>
    </div>
    <div class="po-row">
      <div class="po-sm-12">
        <po-info
          p-label="Nome"
          p-loading="lazy"
          p-value="{{ parent.name }}"
          [p-orientation]="poInfoOrientation"
        >
        </po-info>
        <po-info
          p-label="E-mail"
          p-value="{{ parent.email }}"
          [p-orientation]="poInfoOrientation"
        >
        </po-info>
        <po-info
          p-label="Telefone"
          p-value="{{ parent.phone  | phone }}"
          [p-orientation]="poInfoOrientation"
        >
        </po-info>
      </div>
    </div>
  </div>

  <ng-template #isDesktop>
    <po-avatar
      class="po-sm-6 po-offset-sm-3"
      p-size="xl"
      [p-src]="urlPicture"
      (p-click)="openForm()"
    >
    </po-avatar>

    <div class="po-sm-6">
      <po-info
        p-label="Nome"
        p-loading="lazy"
        p-value="{{ parent.name }}"
        [p-orientation]="poInfoOrientation"
      >
      </po-info>
      <po-info
        p-label="E-mail"
        p-value="{{ parent.email }}"
        [p-orientation]="poInfoOrientation"
      >
      </po-info>
      <po-info
        p-label="Telefone"
        p-value="{{ parent.phone | phone }}"
        [p-orientation]="poInfoOrientation"
      >
      </po-info>
    </div>
  </ng-template>
</po-widget>
