<po-page-default p-title="Cadastro de Alunos" [p-actions]="actions">
  <app-search (inputSearch)="inputSearch($event)"></app-search>

  <po-loading-overlay
    [p-screen-lock]="true"
    [hidden]="!isLoading"
    p-text="Carregando"
  >
  </po-loading-overlay>

  <div *ngIf="!isLoading">
    <div class="po-mt-1" *ngFor="let students of studentsDisplayed">
      <app-student-card [student]="students"></app-student-card>
    </div>
  </div>
</po-page-default>

<po-modal
  p-title="Inclusão"
  [p-hide-close]="true"
  p-click-out="false"
  [p-primary-action]="close"
>
  <app-student-form *ngIf="includeStudent"
    (registroSalvo)="formReceive()"
  ></app-student-form>
</po-modal>
