<form [formGroup]="reactiveForm">
  <div class="po-row">
    <po-input
      class="po-md-6"
      formControlName="cpf"
      p-clean
      p-mask="999.999.999-99"
      p-icon="po-icon-user"
      p-label="CPF"
      p-placeholder="Informe o CPF"
      p-required="true"
      p-error-pattern="CPF inválido"
    >
    </po-input>
    <po-password
      class="po-md-6"
      formControlName="senha"
      name="senha"
      p-label="Senha"
      p-placeholder="Informe uma nova senha"
      p-error-pattern="A senha deve possuir ao menos 6 dígitos"
    >
    </po-password>
  </div>
  <div class="po-row">
    <po-datepicker
      class="po-md-12"
      formControlName="dataNascimento"
      name="dataNascimento"
      p-label="Data de Nascimento"
      p-error-pattern="Somente maiores de 18 (dezoito) anos poderão ser titular de Cadastro."
      p-placeholder="Selecione a data de Nascimento"
    >
    </po-datepicker>
  </div>
  <div class="po-row">
    <po-input
      class="po-md-12"
      formControlName="cartaoCidadao"
      p-clean
      p-icon="po-icon-users"
      p-label="Número Cartão Cidadão"
      p-placeholder="Informe o Número do Cartão Cidadão"
    >
    </po-input>
  </div>
  <div class="po-row">
    <po-button
      p-label="Confirmar Novo Cadastro"
      class="
        po-sm-12 po-lg-6 po-xl-6 po-mt-2 po-offset-lg-3 po-offset-xl-3
      "

    >
    <!-- [p-disabled]="!botaoAtivado"
    [p-loading]="botaoCarregando"
    (p-click)="gravaUsuario()" -->
    </po-button>
  </div>
</form>
