<po-page-default
  [p-breadcrumb]="breadcrumb"
  [p-actions]="actions"
  p-title="Manutenção Colaboradores"
>

<!-- [p-disable-submit]="!this.reactiveForm.valid"
p-title="Manutenção Colaboradores"
(p-save)="inputEmployee()"
(p-cancel)="returnEmployees()" -->
  <input
    type="file"
    accept="image/*"
    style="display: none"
    (change)="uploadImage()"
    #file
  />

  <po-loading-overlay
    [p-screen-lock]="true"
    [hidden]="!isLoading"
    p-text="Carregando"
  >
  </po-loading-overlay>

  <form [formGroup]="reactiveForm">
    <div class="po-row">
      <po-avatar
        class="po-sm-9 po-lg-9 po-md-9 po-xl-9 po-offset-sm-3 po-offset-md-5 po-offset-lg-5 po-offset-xl-5"
        p-size="xl"
        [p-src]="urlPicture"
        (p-click)="pictureClick()"
      >
      </po-avatar>
    </div>

    <div class="po-row">
      <po-input
        class="po-sm-12 po-md-6 po-lg-6 po-xl-6"
        formControlName="name"
        p-clean
        p-icon="po-icon-users"
        p-label="Nome"
        p-placeholder="Informe um Nome"
        p-required="true"
      >
      </po-input>
      <po-email
        class="po-sm-12 po-md-6 po-lg-6 po-xl-6"
        formControlName="email"
        p-clean
        p-label="e-mail"
        p-placeholder="Informe um email"
        p-required="true"
        p-error-pattern="email inválido"
        p-required="true"
      >
      </po-email>
    </div>
    <po-input
      formControlName="phone"
      class="po-sm-12 po-md-6 po-lg-6 po-xl-6"
      p-mask="(99) 99999?-9999"
      p-label="Telefone Titular"
      p-pattern="\d{10,11}"
      p-error-pattern="Telefone Inválido"
      p-placeholder="Número do Telefone"
      p-icon="po-icon-telephone"
      p-required="true"
    ></po-input>
    <div class="po-row">
      <po-tag
        class="po-sm-12 po-lg-6 po-xl-6 po-mt-2"
        [p-value]="pictureStatus"
        [p-color]="pictureStatusColor"
      >
      </po-tag>

      <!-- <po-button
        p-label="Confirmar Manutenção"
        class="po-sm-12 po-lg-6 po-xl-6 po-mt-2"
        [p-disabled]="!this.reactiveForm.valid"
        (p-click)="inputEmployee()"
      >
      </po-button> -->
    </div>
  </form>

  <po-modal>
    <app-pictureEdit
      *ngIf="editPicture"
      (pictureSelected)="pictureSelected($event)"
    ></app-pictureEdit>
  </po-modal>
</po-page-default>
